<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Students</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body ng-app="my">
<div class="container" style="margin-top: 30px" ng-controller="AppCtrl as ctrl">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">Section</div>
            <div class="panel-body">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>id</th>
                        <th>Імя</th>
                        <th>Директор</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr ng-repeat="item in sections">
                        <td>{{item.id}}</td>
                        <td>{{item.name}}</td>
                        <td>{{item.manager.name}}</td>
                        <!--<td>-->
                        <!--<button ng-click="ctrl.delchair(item.id)">DEL</button>-->
                        <!--</td>-->
                        <!--<td>-->
                        <!--<button ng-click="ctrl.hideInsertButton(item)">Update</button>-->
                        <!--</td>-->

                    </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="js/angular.min.js"></script>
<script type="text/javascript" src="js/main.js"></script>
</body>
</html>
